body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color:#404040;
    font-family: 'Source Sans Pro','sans-serif';
    line-height: 1.6;
    text-align: center;
}

*{
    box-sizing: border-box;
}

/*=========== 
typography 
===========*/

h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: #ffff;
}

h1 + p{
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin:2em 0;
    text-transform: uppercase;
}

h2{
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p{
    color: #F18119;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

.top-text{
    font-size: 0.625rem;
    font-weight: 900;
    color:#F18119;
    text-transform: uppercase;
    order: -1;
    margin: 0;
}

span{
    font-weight: 900;
}

/*=============
intro content 
=============*/

.intro{
    background-color: #404040;
    background-image: url(../images/ribs.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 .5 2em; 
    display: flex;
    flex-direction: column;
}

/*=============
main content 
=============*/

.main-content{
    padding: 2em 1em;
}

/*=============
media queries 
=============*/

@media screen and (min-width: 500px) {
    body{
        font-size: 1.25rem;
    }

    h1{
        font-size: 3.5rem;
    }

    h2, h1 + p{
        font-size: 1.75rem;
    }

    .container{
        display: flex;
    }

    .intro, .main-content{
        flex:1;
        min-height: 100vh;
    }

}

