body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color:#404040;
    font-family: 'Source Sans Pro','sans-serif';
    line-height: 1.6;
    text-align: center;
}

*{
    box-sizing: border-box;
}

/*=========== 
typography 
===========*/

h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: #ffff;
}

h1 + p{
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin:2em 0;
    text-transform: uppercase;
}

h2{
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p{
    color: #F18119;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

.top-text{
    font-size: 0.625rem;
    font-weight: 900;
    color:#F18119;
    text-transform: uppercase;
    order: -1;
    margin: 0;
    padding-top: 2px;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(90deg, #F18119, #ff713b) 1;
}

span{
    font-weight: 900;
}

/*=============
intro content 
=============*/

.intro{
    background-color: #cfcfcf;
    background-image: url(../images/ribs.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em; 
    min-height: 50vh;
}

/*=============
main content 
=============*/

.main-content{
    padding: 2em 1em;
}

/* ============
container
============= */

.container{
    max-width: 400px;
    margin: 0 auto;
}

.container-intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-intro > * {
    margin-left: auto;
    margin-right: auto;
}

/* =================
   form
   ================= */
   
.email-collector {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
} 

input, button{
    width: 100%;
    border-radius: 0.2em;
    padding: .25em;
}

input{
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    border: 1px solid #404040;
    padding: .25em;
    transition: transform 0.3s ease;
}

input:focus{
    transform: scale(1.1);
}

button {
    background-color: #F18119;
    border:none;
    padding:0.5em 1.5em ;
    font-size: 0.625em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-primary{
    background: linear-gradient(270deg, #ff713b, #ffa51d);
    color: white;
    /* we put the transition in here because if we put it on hover it only has 
    transition when we hove when we are out of hovering zone it immediatly change color to white */
    transition: transform 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus{
    color: black;
    transform: scale(1.1);
}

/*=============
media queries 
=============*/

@media (min-width: 500px) {
    body{
        font-size: 1.25rem;
        display: flex;
    }

    h1{
        font-size: 3.5rem;
    }

    h2, h1 + p{
        font-size: 1.75rem;
    }

    .intro, .main-content{
        flex:1;
        min-height: 100vh;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

